---
---

/* Colors! */
@import 'colors.scss';

/* Mixins */
@import 'mixins.scss';

/* Fonts */
@import 'fonts.scss';

$base-size: 1.8rem;

$serif: 'Charter', serif;
$mono: monospace;

/* Sass starts here! */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif;
  font-kerning: normal;
  font-size: 10px;
}

body {
  background: $white;
  color: $black;
  font-size: $base-size;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 70rem;
  padding: 3rem 1.8rem 0;

  & > * {
    margin-bottom: 2.4rem;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-style: italic;
  font-weight: normal;
  color: $pitch;
}

h1 {
  font-size: 1.5 * $base-size;
}

h2 {
  font-size: 1.3 * $base-size;
}

h3 {
  font-size: 1.15 * $base-size;
}

img,
video {
  float: right;
  margin-left: 1.6rem;
  width: 24%;
}

.wide img,
.wide video {
  width: 90%;
}

.mid img,
.mid video {
  width: 45%;
}

figure {
  img,
  video {
    display: block;
    float: unset;
    margin: auto;
    padding: 1rem 0;
  }

  figcaption {
    font-size: .9 * $base-size;
    text-align: center;

  }
}

p {
  hyphens: auto;
  &.post-date {
    color: $grey;
  }
}

code {
  border: 0.1px solid $offwhite;
  border-radius: .4rem;
  box-shadow: 0 0 .1rem $grey;
  display: inline-block;
  font-family: $mono;
  font-size: .8 * $base-size;
  padding: 0 .3rem;

  pre > & {
    display: block;
    overflow: auto;
    padding: .4rem 1.4rem;
  }
}


blockquote {
  border-left: 0.5rem solid $offwhite;
  color: $grey;
  padding: .6rem 0 .6rem 1.8rem;

  cite {
    border-left: unset;
    display: block;
    text-align: right;
    
    &::before {
      content: " — ";
    }
  }
}

header {
  & > p {
    margin-bottom: 1.2rem;
  }

  nav {
    ul {
      text-align: right;
      list-style: none;

      li {
        display: inline-block;
        padding-left: 1rem;
      }

    }
  }
}

main {
  & > * {
    margin-bottom: 2.4rem;
  }

  ul,
  ol {
    margin-left: 3.6rem;
  }

  hr {
    color: $offwhite;
    margin: 0 auto;
    margin-bottom: 1.4rem;
    width: 75%;
  }
}

article {
  display: flex;

  .date {
    color: $grey;
    display: flex;
    flex: 1;
    font-size: .9 * $base-size;
    font-style: italic;
    padding-right: 1.6rem;
    text-align: right;

    @include flexalign(right, flex-start);
  }

  .detail {
    flex: 3;

    h2 {
      display: inline;
      font-size: $base-size;
      font-style: italic;
      font-weight: normal;

      &::after {
        content: " — ";
      }
    }

    p {
      display: inline;
    }
  }
}

a {
  display: inline;
  outline: none;
  text-decoration: underline;
  text-decoration-skip-ink: auto;

  &:link {
    color: $pitch;
  }

  &:visited {
    color: $pitch;
  }

  &:focus {
    color: $pitch;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }
}

footer {
  color: $grey;
  text-align: right;

  a {
    text-decoration: underline;

    &:link,
    &:visited {
      color: $grey;
    }

    &:focus,
    &:hover,
    &:active {
      text-decoration: none;
      border-bottom: unset;
    }
  }
}

/* begin: make footer stick to the bottom */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
  margin-bottom: unset;
  padding-bottom: 2.4rem;
}
/* end: make footer stick to the bottom */

.mjx-chtml {
  font-size: 108% !important;
}

/* Newsletter form styling */

#newsletter {
  display: flex;
  width: 100%;

  button, 
  input {
    border-radius: 0;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    height: 3.6rem;
    margin: 0;
    margin-right: 1%;
  }
  
  input {
    border: 1px solid $grey;
    padding: 1rem;
    max-width: 24rem;
    min-width: 10rem;
    flex: auto;
  
    &:focus {
      border: 1px solid $pitch;
    }
  }
  
  button {
    border-radius: 0;
    background: $pitch;
    color: white;
    border: 1px solid $pitch;
    min-width: 10rem;
  
    &:hover {
      cursor: pointer;
      background: $pitch;
    }
  }
}

p#success,
iframe#response {
  display: none;
}
